@import url("https://fonts.googleapis.com/css?family=Roboto:300");

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #000000;

  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;

  font-size: 18pt;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

header {
  text-align: center;
  user-select: none;
}

a {
  color: #ffffff;
}

.responsive {
  width: 90%;
  max-width: 400px;
  height: auto;
}
